    div.header-image-jumbotron{
         background-image: url(../img/bg-7.jpg);
         background-size:cover;
         background-repeat: no-repeat;
        color: #fff;
       } 
    .cards {
         background-color: #fff;
         min-width: 100%;
         max-height: 200px;
         height: 200px;
         display: flex;
         padding: 20px 10px;
         overflow-x: auto;
      }

      .card::-webkit-scrollbar {
         display: none;
         width: 0 !important;
      }

      .card--content {
         background-color: #e74c3c;
         min-width: 200px;
         margin: 5px;
      }

      .scroll-title{
         margin-left: 20px;
         margin-top:10px;
         text-align: center;
         padding: 20px;
         font-size: 33px;
         font-weight: 400;
         color: #4e171a;
         font-family: inherit;
         
      }
      .scroll-title a{
        color:  #0B316B;
      }

      .course-details-card-content{
         background-color: #ffffff;
         min-width: 200px;
         max-width: 300px;
         width: 300px;
         border-radius: 5px;
         margin: 20px 0px;
         /*height: 69px;*/ height: auto;
         min-height: 69px;

         margin: 16px 8px;
         border: 0.5px solid #dee2e6;
         box-shadow: 0px 4px 41px -21px black;
      }
      
      .course-details-card-content a{
         text-decoration: none;
      }

      .course-details-card-content:hover{
         box-shadow: 0px 5px 31px -7px #343a40;
      }
      
      .course-details-card-content p{
      margin: 5px;
      padding: 5px;
      color: #ee2933;
      background: #ffffff;
      border-radius: 5px;
      }
      .subject-image{   
          box-shadow: 0px 3px 13px -3px black;
         }
      .subject-image:hover{
         box-shadow: 0px 8px 37px -3px black;
      }


      @media only screen and (max-width:991px){
         .largerscreen{
            display: none;
         }
      }

      @media only screen and (min-width:992px){
        .smallscreen{
           display: none;
        }
      }