body{
  background: #f8f9fa;;
}

.slant-bg
{ position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 z-index: -9;
 width: 100%;
 height: 73%;
 background: linear-gradient(#8e2e4e,#f32a34);
 transform: skewY(-6deg);
 transform-origin: top left;
}

.list-group-flush{
    box-shadow: 0 0 11px #af2d45;
    background: #0B316B;
    border-radius: 5px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    color: white;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: -1px;
    background-color: #0b316b;
    border: 1px solid rgba(0,0,0,.125);
}

.topic-search{
    background-color: #061c3e;
    border-color: #0b316b;
}
.btn-outline-secondary {
    color: #ffffff;
    background-color: #0b316b;
    background-image: none;
    border-color: #0b316b;
}

.notes-container{
    margin-top: 60px;
}

.notes-container p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    font-size: 24px;
}

/* media queries */

@media only screen and (max-width:765px){
    .topic-list{
       display: none;
    }
 }
